/* 
COLORS:

dark blue: #26528C
turquoise: #3C92A6
yellow: #F2D399
light brown: #D9AB73
dark brown: #A67665
font-family: 'Ubuntu', sans-serif;
background image: "https://a.cdn-hotels.com/gdcs/production95/d1559/15062290-9308-43d7-a792-b3a74b2b10ef.jpg"
https://as01.epimg.net/betech/imagenes/2018/03/29/portada/1522336308_098657_1522336920_noticia_normal.jpg
 */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
}

header {

}

/* HOMEPAGE */

.homepage {
  height: 100vh;
  background-image: url("https://a.cdn-hotels.com/gdcs/production95/d1559/15062290-9308-43d7-a792-b3a74b2b10ef.jpg");
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: center;
}

#homepage-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo-homepage {
  width: 45%;
}

#logo-container {
  display: flex;
  justify-content: center;
}

#h2-homepage {
  padding: 1.5rem;
  color: #A67665;
}

.homepage-btn {
  width: 7rem;
  text-align: center;
  padding: 0.25rem 0.65rem;
  margin: 0.5rem;;
  border-radius: 10px;
  color: white;
  background-color: #26528C;
}

#homepage-signup {
  background-color: #26528C;
  color: white;
}

#homepage-login {
  background-color: white;
  color: #26528C;
}


/* NAV */

#nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5%;
  font-family: 'Ubuntu', sans-serif;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-item {
  padding: 0.25rem;
  margin: 0.25rem;
}

.nav-item i {
  color: #26528C;
}

li, a {
  text-decoration: none;
}

.logo {
  height: 3rem;
}

#logout-btn {
  border: none;
  padding: 0.25rem 0.65rem;
  border-radius: 10px;
  color: white;
  background-color: #26528C;
}

#img-travelbuddy {
  /* padding: 1rem; */
  max-width: 100%;
  height: auto;
}


/* LOG IN % SIGN UP */

.forms-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  height: 35px;
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 10% 90%;
}

.input i {
  color: #26528C;
  /* font-size: 12px; */
}

.input input {
  background: none;
  outline: none;
  border: none;
  font-size: 12px;
}

.input label {
  font-size: 12px;
}

.signup-container {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background-color: #26528C;
  font-family: 'Ubuntu', sans-serif;
  background-image: url("https://a.cdn-hotels.com/gdcs/production95/d1559/15062290-9308-43d7-a792-b3a74b2b10ef.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login-container {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background-color: #26528C;
  font-family: 'Ubuntu', sans-serif;
  background-image: url("https://media.istockphoto.com/id/1148606629/photo/where-will-this-summer-take-you.jpg?s=612x612&w=0&k=20&c=7oPIM1lH5gIooFBEpNtec6db16kYFb65w2-AU0bmGg4=");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  padding: 0.25rem;
  color: #26528C;
}

.input-btn {
  background-color: #26528C;
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.5rem;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
}


.input-btn-white{
  background-color: white;
  color: #26528C;
  padding: 0.5rem 3rem;
  margin: 0.5rem;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
}


.container {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background-color: #26528C;
  font-family: 'Ubuntu', sans-serif;
}


#nav-blue {
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  color: white;
  background-color: #26528C;
  font-size: 14px;
}

#nav-white {
  color: #26528C;
  font-size: 14px;
}


/* HOMEPAGE/ACTIVITIES */

#h2-home-activities {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}

#activities-container {
  margin: 1rem;
  padding: 1rem;
  background-color: #26528C;
  border-radius: 25px;
}

#img-actvities {
  width: 100%;
  height: 25%;
  border-radius: 10px;
}

#activities-description-container {
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 0.5rem;
  font-size: 14px;
}

#title-activities {
  font-size: 1.25rem !important;
  color: #26528C;

}

#h3-title-activities {
  padding-top: 0.25em;
}

#activities-date-container {
  display: flex;
}

#activities-date-to {
  padding-left: 0.75rem;
}






/* USER PROFILE */

#profile-container {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
}

#profile-info-container {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;

}

.profile-info {
  padding: 0.25rem;
}

#h3-profile-info {
  font-size: 1.5em;
}

.img-profile {
  width: 100px;
  height: 100px;
  border-radius: 25px;
  border: solid 2px #26528C;
  background-repeat: no-repeat;
}

#profile-description-activities {
  padding: 1rem;
}

#profile-activity-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #26528C;
  border-radius: 25px;
}

.h4-title-description {
  font-size: 1em;
  font-weight: 500;
}

.p-description {
  font-size: 12px;
  font-weight: 300;
}

#h3-title-profile-activities {
  color: #26528C;
  font-size: 1.25rem !important;
}


/* EDIT PROFILE */

#input-profile-description {
  height: auto !important;
  width: 100%;
  resize: horizontal;
}


/* CREATE ACTIVITY */

.create-container {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background-color: #26528C;
  font-family: 'Ubuntu', sans-serif;
}

.title-h2-white{
  font-size: 18px;
  padding: 0.25rem;
  color: white;
}

#input-radio {
  display: inline;
  font-size: 12px;
  height: auto !important;
}

#input-textarea {
  width: 200px;
}

.input label { 
  font-weight: 400;
  font-size: 12px;
}

#input-description {
  height: auto !important;
  width: 100%;
  resize: horizontal;
}

#input-locations {
  display: inline;
}

#input-image {
  display: inline;
}


/* ACTIVITY DESCRIPTION */

#activity-description-container {
  padding: 1rem;
}

#img-activity-description {
  width: 100%;
  height: 25%;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}

#activity-container {
  background-color: #26528C;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 25px;
}

#activity-container-white {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
}

#h3-title-activity {
  color: #26528C;
}

.from-to-dates {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  padding: 0.5rem;
}



/* MAP */

 /* .marker { 
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:#40798C;
}


.hidden {
  display: none;
}

.location-img{
  height: 200px;
}

#map{ 
  position: absolute;
}

.map {
  top: 400;
  bottom: 0;
  width: 100%;
  height: 25%;
}  */









