{{#unless user}}

<nav id="nav-container">

  <a href="/"><img class="logo" src="/images/travelsouls-logo.png" alt="logo img"></a>

  <ul class="nav-links">
    <li class="nav-item"><a id="nav-white" href="/auth/login">Login</a></li>
    <li class="nav-item"><a id="nav-blue" href="/auth/signup">Signup</a></li>
  </ul>
</nav>

{{/unless}}



<div class="login-container">

  <form class="forms-container" action="/auth/login" method="POST">

    <h2 class="title">Welcome TravelSouls</h2>
    <p class="title">Sign in to check out where go next!</p>

    <div class="input">
      <i class="fa fa-user"></i>
      <input type="text" name="username" placeholder="Username" />
    </div>
    <div class="input">
      <i class="fa fa-lock"></i>
      <input type="password" name="password" placeholder="Password" />
    </div>
    <div>
      <button class="input-btn" type="submit">Login</button>
    </div>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

  </form>
</div>



