<div class="container">

  <form class="forms-container" action="/auth/signup" method="POST">

  <h2 class="title">Welcome TravelSouls</h2>
  <p class="title">Let's Get Your Journey Started!</p>

    <div class="input">
      <i class="fa fa-user"></i>
      <input type="text" name="fullName" placeholder="Homer Simpson" />
    </div>
        <div class="input">
      <i class="fa fa-lock"></i>
      <input type="email" name="email" placeholder="Simpson@mail.com" />
    </div>
    <div class="input">
      <i class="fa fa-lock"></i>
      <input type="text" name="username" placeholder="SimpsonWooHoo" />
    </div>
    <div class="input">
      <i class="fa fa-lock"></i>
      <input type="password" name="password" placeholder="******" />
    </div>
    <div class="input">
      <i class="fa fa-lock"></i>
      <label> Relationship Status
        <select name="status" placeholder="">
          <option value="single">Single</option>
          <option value="in a relationship">In a Relationship</option>
        </select>
      </label>
    </div>
    <div class="">
      <button type="submit">Signup</button>
    </div>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

  </form>
</div>


