<div class="container">

  <form class="forms-container" action="/user-profile/edit" method="post">

    <h2 class="title-h2-white">Edit Profile</h2>
      
    <div class="input" id="input-profile-description">
      <label> Describe Yourself</label>
        <textarea name="description" cols="30" rows="4"> </textarea>
    </div>

    <button class="input-btn-white" type="submit"> Submit </button>

  </form> 
</div>