<div class="create-container">
    
    <form class="forms-container" action="/create" method="post">

    <h2 class="title">What do you feel like doing?</h2>

    <div class="input">
      <input type="text" name="activity" placeholder="Surfing" />
    </div>
    <div class="input" id="input-description">
      <textarea id="input-textarea" name="description" cols="30" rows="2"> </textarea>
    </div>
    <div class="input" id="input-radio">
      <label> Activity for a:</label>
      <br>
        <input type="radio" name="find" value="Couple" placeholder="Looking for" /> Couple
        <input type="radio" name="find" value="Group of friends" placeholder="Looking for" /> Group of friends
        <input type="radio" name="find" value="Date" placeholder="Looking for" /> Date
        <input type="radio" name="find" value="Family" placeholder="Looking for" /> Family
    </div>
    <div class="input">
      <i class="fas fa-calendar"></i>
      <input type="date" name="from" placeholder="Start" />
    </div>
    <div class="input">
      <i class="fas fa-calendar"></i>
      <input type="date" name="to" placeholder="End" />
    </div>
    <div class="">
      <button class="input-btn" type="submit">Create</button>
    </div>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

  </form>
</div>
    
    
    
    
    
    
    
    
    
    
{{!--     
    <form action="/create" method="post">
 
     <label> Activity
      <input type="text" name="activity" placeholder="Surfing" />
    </label>
    
    <label> Description
      <textarea name="description" cols="30" rows="4"> </textarea>
    </label>

    <label> Activity for
      <input type="radio" name="find" value="Couple" placeholder="Looking for" /> Couple
      <input type="radio" name="find" value="Group of friends" placeholder="Looking for" /> Group of friends
      <input type="radio" name="find" value="Date" placeholder="Looking for" /> Date
      <input type="radio" name="find" value="Family" placeholder="Looking for" /> Family
    </label>

    <label> From
      <input type="datetime-local" name="from" placeholder="Start" />
    </label>

    <label> To
      <input type="datetime-local" name="to" placeholder="End" />
    </label>



<label for="locations"> Locations
<select name="locations" id="locations">
  <option label="Ciutat Vella" value="Ciutat Vella">Ciutat Vella</option>
  <option label="Nou Barris"  value="Nou Barris">Nou Barris</option>
  <option label="Horta-Guinardo"  value="Horta-Guinardo">Horta-Guinardo</option>
  <option label="Sarria-Sant Gervasi"  value="Sarria-Sant Gervasi">Sarria-Sant Gervasi</option>
  <option label="Les Corts"  value="Les Corts">Les Corts</option>
  <option label="Gracia"  value="Gracia">Gracia</option>
  <option label="Sants"  value="Sants">Sants</option>
  <option label="Eixample"  value="Eixample">Eixample</option>
  <option label="Sant Marti"  value="Sant Marti">La Nueva Izquierda del Ensanche</option>
  <option label="Sant Andreu"  value="Sant Andreu">San Antonio</option>
</select>
</label>

   <button type="submit"> Submit </button>
   </form> --}}